<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>This is form</p>
    <div>

        <form id="form1" >
            <input type="text" name="naam" id="name1" placeholder="Enter User Id" ng-model="name1">
            <br><br>
            <input type="text" name="password" id="password1" placeholder="Enter Your Password" ng-model="password1">
            <br><br>
            <button type="button" ng-click="submit()">Login</button>
    
        </form>
    </div>
    <a href="#!signup">Sign Up</a>
</body>
</html>